#!/usr/bin/env bash

[ -d bin ] && export PATH=/home/kaineer/git/config/config/bin:$PATH
[ -d node_modules/.bin ] && export PATH=/home/kaineer/git/config/config/node_modules/.bin:$PATH
export PROJECT_PATH=/home/kaineer/git/config/config
export PROJECT_BIN=/home/kaineer/git/config/config/bin
export PROJECT_NAME=config
export PROJECT_CREATED="06.11.2024"
